{% extends 'base.html' %}
{% block content %}

    <h2>Movie Info</h2>


    <ul>
      <li> Movie Name: {{ movie.title }} </li>
      <li> Released at: {{ released_at }} </li>
      <li> <a href="{{ movie.imdb_url }}"> IMDB Link</a></li>
    </ul>

    <p>Average Rating: {{ '%0.1f' % average }}</p?>
    {% if prediction %}
    <p>We predict you will rate this movie {{ prediction|round|int }}. </p>
    {% endif %}

    {% if 'user_id' in session %}
    <div>

      <h3>Have you seen this movie? Add your rating!</h3>
      <form action='/process-rating' id="add-rating-form" method="POST">
        <select name='rating'>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <input type='hidden' name='movie_id' value='{{ movie.movie_id }}'>
          <input type='submit' value='Submit'>
      </form>
    </div>
    {% endif %}


    <h3> Movie Ratings: </h3>
    <ul>
      {% for rating in ratings %}
          <li>
                {{ rating.score }}<br>
          </li>
      {% endfor %}

    </ul>

{% endblock %}

<script src="https://code.jquery.com/jquery.js">
</script>
<script>

var session = {{ session['logged_in'] }}
if (session) {

  $("#add-rating-form").show();
  console.log("yes, logged in");
} else {
  $("#add-rating-form").hide();
  console.log("nope")
}


</script>